header,
footer {
    background-color: gray;
}

aside {
    float: left;
    width: 20%;
    background-color: silver;
    margin-right: 2%;
}

aside li {
    list-style: none;

}

footer:first-child{
    background-color: #9690ca;
}

article {
    text-decoration: underline;
    text-align: center;
    float: right;
    width: 78%;
    background-color: silver;
}

h1:target {
    background-image: url('firework-sm.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 40px;
    background-color: green;
    color: white;
}

a:link {
    background-color: #B2FF99;
}

a:visited {
    background-color: #9690ca;
}

a:hover {
    background-color: #FF704D;
}

a:active {
    background-color: #FF704D;
}

article:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

footer:hover {
    background-color: antiquewhite;
}

footer {
    clear: both;
    position: relative;
    top: 15px;
}

header,
footer,
section {
    width: 960px;
    margin: auto;
}

header,
footer,
aside,
article {
    outline-color: black;
    outline-style: solid;
    outline-width: 1px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: silver;
}